<!doctype html>
<script type="text/javascript">

  function secondToString(s) {
    s = s;
    var secs = s % 60;
    s = (s - secs) / 60;
    var mins = s % 60;
    var hrs = (s - mins) / 60;
    if (hrs > 0) {
      document.write(hrs + ':' + mins + ':' + secs);
    } else {
      document.write(mins + ':' + secs);
    }
  }

  function millisecondToString(millisecond) {
    var date = new Date(parseInt(millisecond));
    var options = { day: 'numeric', month: 'long', year: 'numeric' };
    document.write(date.toLocaleDateString("en-US", options));
  }

  function episodeReaded(id) {
    request = new Request('/episode/readed?ids=' + id, { method: 'POST' });
    fetch(request)
      .then(response => {
        if (response.status === 200) {
          window.location.reload();
        }
      });
  }

  function episodeNotReaded(id) {
    request = new Request('/episode/not_readed?ids=' + id, { method: 'POST' });
    fetch(request)
      .then(response => {
        if (response.status === 200) {
          window.location.reload();
        }
      });
  }

  function episodeRemove(id) {
    request = new Request('/episode/remove?ids=' + id, { method: 'POST' });
    fetch(request)
      .then(response => {
        if (response.status === 200) {
          window.location.reload();
        }
      });
  }

  function episodeDownload(id) {
    request = new Request('/episode/download?ids=' + id, { method: 'POST' });
    fetch(request)
      .then(response => {
        if (response.status === 200) {
          window.location.reload();
        }
      });
  }

  function episodeNotSyncWatch(id) {
    request = new Request('/episode/not_sync_watch?ids=' + id, { method: 'POST' });
    fetch(request)
      .then(response => {
        if (response.status === 200) {
          window.location.reload();
        }
      });
  }

  function episodeSyncWatch(id, is_downloaded) {
    if (is_downloaded.value == "1") {
      request = new Request('/episode/sync_watch?ids=' + id, { method: 'POST' });
      fetch(request)
        .then(response => {
          if (response.status === 200) {
            window.location.reload();
          }
        });
    } else {
      alert("The episode must be uploaded to the server to be able to send it to the watch")
    }
  }

</script>
<title>Podcast Sync for Garmin</title>

<head>
  <style>
    form {
      display: inline;
    }

    body {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(3, auto);
      grid-template-areas: "return"
        "title"
        "main";
    }

    .return {
      grid-area: return;
    }

    .title {
      grid-area: title;
    }

    .main {
      width: 100%;
      grid-area: main;
      display: grid;
      grid-gap: 20px;
      grid-template-columns: 1fr;
    }

    .box {
      padding: 1em;
      border: solid;
    }
  </style>
</head>

<body>
  <p class="return">
    <a href="/ui/podcast/manage">Back to Manage Podcasts</a>
  </p>
  <h1 class="title">
    <img src="{{ podcast['image'] }}" style="width:100px;height:100px;">
    {{ podcast['title'] }}</h1>

  <main class="main">
    {% for episode in podcast['episodes'] %}
    <article class="box">
      {% if episode['downloaded'] == 0 %}
      <form onsubmit="episodeDownload(id); return false" id="{{ episode['id'] }}">
        <button>Request download on server</button>
      </form>
      {% else %}
      <form onsubmit="episodeRemove(id); return false" id="{{ episode['id'] }}">
        <input type="submit" value="Remove download from server" />
      </form>
      {% endif %}
      {% if episode['readed'] == 1 %}
      <form onsubmit="episodeNotReaded(id); return false" id="{{ episode['id'] }}">
        <input type="submit" value="Mark unread" />
      </form>
      {% else %}
      <form onsubmit="episodeReaded(id); return false" id="{{ episode['id'] }}">
        <input type="submit" value="Mark read" />
      </form>
      {% endif %}
      {% if episode['sync_watch'] == 1 %}
      <form onsubmit="episodeNotSyncWatch(id); return false" id="{{ episode['id'] }}">
        <button>Don't sync to watch</button>
      </form>
      {% else %}
      <form onsubmit="episodeSyncWatch(id,is_downloaded); return false" id="{{ episode['id'] }}">
        <input type="hidden" name="is_downloaded" id="is_downloaded" value="{{ episode['downloaded']}}">
        <button>Sync to watch</button>
      </form>
      {% endif %}
      <p>
        {{ episode['title'] }}
      </p>
      <p>
        episode: {{ episode['position'] }}
      </p>
      <p>
        <script type="text/javascript">secondToString("{{episode['duration']}}");</script>
        -
        <script type="text/javascript">millisecondToString("{{ episode['pub_date_ms'] }}");</script>
      </p>
      <p>
        {% if episode['downloaded'] == 1 %}
        <audio controls preload="none" onended="episodeReaded(id)" id="{{ episode['id'] }}">
          <source src="/episode/{{episode['id']}}" type="audio/mp3">
          Your browser dose not Support the audio Tag
        </audio>
        {% else %}
        <audio controls preload="none" onended="episodeReaded()" id="{{ episode['id'] }}">
          <source src="{{episode['url_external']}}" type="audio/mp3" >
          Your browser dose not Support the audio Tag
        </audio>

        {% endif %}
      </p>
    </article>
    {% endfor %}
  </main>
</body>