<!doctype html>
<script type="text/javascript">
  function podcastRemove(id) {
    request = new Request('/podcast/'+id+'/remove', { method: 'POST' });
    fetch(request)
      .then(response => {
        if (response.status === 200) {
          window.location.reload();
        }
      });
  }
</script>
<title>Podcast Sync for Garmin</title>

<head>
  <style>
    p,
    form {
      display: inline;
    }

    body {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(3, auto);
      grid-template-areas: "return""title""main";
    }

    .return {
      grid-area: return;
    }

    .title {
      grid-area: title;
    }

    .main {
      width: 100%;
      grid-area: main;
      display: grid;
      grid-gap: 20px;
      grid-template-columns: repeat(auto-fill, minmax(100px, auto));
    }
  </style>
</head>

<body>
  <p class="return">
    <a href="/">Back to Main Page</a>
  </p>
  <h1 class="title">Podcast List</h1>
  <main class="main">
    {% for podcast in podcasts %}
    <article class="box">
      <form onsubmit="podcastRemove(id); return false" id="{{ podcast['id'] }}">
        <button>Remove Podcast</button>
      </form>
      <a href="/ui/podcast/manage/{{ podcast['id'] }}">
        <img src="{{ podcast['image'] }}" style="width:100px;height:100px;"></a>
    </article>
    {% endfor %}
  </main>
</body>